<h1>[{{title}}]</h1>
<h2 class="text-xl">제목입니다.</h2>
<div>
  작성자:
  <b>작성자 이름</b>
</div>
<div>
  작성일:
  <b>2023-08-05</b>
  <button>수정</button>
  <button>삭제</button>
</div>

<div>
  <pre>본문</pre>
</div>

<section>
  <div>
    <h3>댓글</h3>
  </div>
  <form action="">
    <div>
      이름
      <input type="text" name="name" />
    </div>
    <div>
      비밀번호
      <input type="password" name="password" />
    </div>
    <button type="submit">댓글쓰기</button>
  </form>
</section>

<section>
  <div>
    <div>
      작성자
    </div>
    <div>
      작성일시
    </div>
    <div>
      <pre>
        comment
      </pre>
    </div>
  </div>
</section>
<footer>
  <div>
    <a href="/board/list">목록</a>
  </div>
</footer>