<h1>{{title}}</h1>
<input type="text" name="search" id="search" value="" size="50" />
<button>검색</button>
<br />
<a href="/write"></a>
<br />
<div>
  <table>
    <thead>
      <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>게시글 제목</td>
        <td>작성자</td>
        <td>작성일</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <a>&lt;&lt;</a>
  <a>&lt;</a>
  <a>1</a>
  <a>2</a>
  <a>3</a>
  <a>4</a>
  <a>&gt;</a>
  <a>&gt;&gt;</a>
</div>